/* @import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap'); */
*{
    margin: 0px;
}
body{
    font-family: 'Exo 2', sans-serif;
}
.glavni p{
    text-align: justify;
    padding: 0px 15px;
    text-transform: capitalize;
}
.glavni{
    margin: 0px auto;
    background-color: aqua;
    padding: 20px 15px;
    width: 600px;
}
.glavni h1{
    text-align: center;
    text-transform: capitalize;
}